h1{
    color: black;
    text-align: center;
}
h3{
    color: green;
    text-align: left;
    font-style: italic;
}
p{
    font-family: sans-serif;
}
ul{
    line-height: 40px;
}
.facts{
    color: red;
}
p.facts{
    color: rgb(6, 100, 3);
}